{% extends "layout.html" %}
{% block content %}
   <h1>About Page</h1>
   
   <p>Machine learning (ML) is the study of computer algorithms that improve automatically through experience and by the use of data.
       It is seen as a part of artificial intelligence. Machine learning algorithms build a model based on sample data,
        known as "training data", in order to make predictions or decisions without being explicitly programmed to do so.</p>

   <p>Coronavirus disease 2019 (COVID-19), also known as the coronavirus, or COVID, is a contagious disease caused by severe acute respiratory syndrome coronavirus 2 (SARS-CoV-2).
       The first known case was identified in Wuhan, China, in December 2019. The disease has since spread worldwide, leading to an ongoing pandemic.
      Symptoms of COVID-19 are variable, but often include fever, cough, headache, fatigue, breathing difficulties, and loss of smell and taste.</p>

   <p>In my project, I use a Machine Learning Supervised Learning algorithm called Perceptron in order to analyze data of 5 million Covid-19 tests which were taken in the past year in Israel and contain their age, gender and symptoms.
      You can try out my model by clicking on the Evaluation tab on the right side, and putting in your information. By inputting your result of a Covid-19 test, you can help us improve our model and make it more accurate.
   </p>

   <p>I chose to use the Perceptron model by comparing some of the most common models' preformances on my data. You can see how the models compare in the Graphs tab on the right side.</p>
{% endblock content %}
